<h1>Listing persona_descriptions</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @persona_descriptions.each do |persona_description| %>
      <tr>
        <td><%= link_to 'Show', persona_description %></td>
        <td><%= link_to 'Edit', edit_persona_description_path(persona_description) %></td>
        <td><%= link_to 'Destroy', persona_description, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Persona description', new_persona_description_path %>
